{% extends 'base.html' %}
{% load static %}
{% load wagtailimages_tags %}

{% block content %}
    <div class="ckeckout">
		<div class="container">
			<div class="ckeckout-top">
                <div class=" cart-items heading">
                <h3>Mi carrito</h3>
                <div class="in-check" >
                    <ul class="unit">
                        <li><span>Item</span></li>
                        <li><span>Producto</span></li>		
                        <li><span>Precio unitario</span></li>
                        <li> </li>
                        <div class="clearfix"> </div>
                    </ul>
                    <h3 class="text-center">Carrito vacio</h3>
                    <!--
                    <ul class="cart-header">
                        <div class="close1"> </div>
                            <li class="ring-in"><a href="single.html" ><img src="images/s-1.jpg" class="img-responsive" alt=""></a>
                            </li>
                            <li><span>Woo Dress</span></li>
                            <li><span>$ 290.00</span></li>
                            <li><span>In Stock</span></li>
                            <li> <a href="single.html" class="add-cart cart-check">ADD TO CART</a></li>
                        <div class="clearfix"> </div>
                    </ul>-->
                </div>
                </div>  
            </div>
		</div>
	</div>
{% endblock %}