{% load static wagtailuserbar %}
{% load wagtailimages_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
        
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.4.2/css/iziModal.min.css" />
        
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
        {% block extra_css %}

        {% endblock %}
         <link href="{% static 'css/padawan.css' %}" rel="stylesheet" />
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% block header %}
        <header>
            <nav class="navbar navbar-default navbar-ugyshop navbar-fixed-top">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        {% image page.get_site.root_page.specific.logo width-100 as root_logo %}
                        <a href="/" class="brand-logo" style="background-image: url({{root_logo.url}})"></a>
                        <ul class="nav nav-pills nav-dropdown">
                            <li class="dropdown visible-xs">
                                <a href="#" class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu">
                                {% if request.user.is_authenticated %}
                                    <li>Hola, <a href="#">{{request.user.first_name}}</a></li>
                                    <li><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
                                {% else %}
                                    <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                                    <li><a href="{% url 'signup' %}">Registrarse</a></li>
                                {% endif %}     
                                </ul>
                            </li>
                            <li class="dropdown visible-xs">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
                                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> 
                                    <span class="badge">0</span>
                                </a>
                                <ul class="dropdown-menu shopping-cart">
                                    <li><span>Tu carrito está vacio</span></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="menu">
                        <div class="container wrapper">
                            <ul class="nav nav-pills">
                                {% if page.get_site.root_page.specific.related_social_media_links.all %}
                                    {% for network in page.get_site.root_page.specific.related_social_media_links.all %}
                                        <li><a href="{{network.link}}" target="_blank"><i class="fa fa-{{network.network}}" aria-hidden="true"></i></a></li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="active-nav"><a href="/">Inicio</a></li>
                            {% for child in page.get_site.root_page.specific.get_children.live.in_menu %}
                                <li class="divider-nav hidden-xs">|</li>
                                <li>
                                    <a href="{{child.url}}">{{child.title}}</a>
                                </li>
                            {% endfor %}
                        </ul> 
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <form class="navbar-form">
                                <div class="form-group form-navbar">
                                    <div class="input-group">                           
                                        <input class="form-control" type="search" placeholder="Buscar">
                                        <button type="submit" class="form-control-feedback"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </div>
                                </div>                     
                                </form>
                            </li>
                            <li class="dropdown hidden-xs">
                                <a href="#" class="user"> 
                                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    {% if request.user.is_authenticated %}
                                        <li>Hola,<a href="#">{{request.user.first_name}}</a></li>
                                        <li><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
                                    {% else %}
                                        <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                                        <li><a href="{% url 'signup' %}">Registrarse</a></li>
                                    {% endif %}     
                                </ul>
                            </li>
                            <li class="dropdown hidden-xs">
                                <a href="#"> 
                                    <span class="fa fa-shopping-basket" aria-hidden="true"></span> 
                                    <span class="badge">0</span>
                                </a>
                                <ul class="dropdown-menu shopping-cart">
                                    <li><span>Tu carrito está vacio</span></li>
                                </ul>
                            </li>                     
                        </ul>                 
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-->
            </nav>
        </header>
        {% endblock %}
        {% wagtailuserbar %}

        <main {% block main_class %}{% endblock %}>
            {% block content %}{% endblock %}
        </main>
        {% block footer %}
            <footer>
                <div class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <h4>Compras seguras online con:</h4>
                                <img src="{% static 'img/payU.png' %}" class="img-responsive img-payU">
                            </div>
                            {% if page.get_site.root_page.specific.related_social_media_links.all %}
                                <div class="col-xs-12 col-md-4 col-lg-3 col-lg-offset-1">
                                    <h4>Siguenos en:</h4>
                                    <ul class="nav nav-pills social-media">
                                        {% for network in page.get_site.root_page.specific.related_social_media_links.all %}
                                            <li><a href="{{network.link}}" target="_blank"><i class="fa fa-{{network.network}}" aria-hidden="true"></i></a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="col-xs-12 col-md-4 col-lg-4">
                                <h4>Políticas</h4>
                            <ul class="nav nav-pills nav-stacked nav-politicas">
                                <li><a href="#">Politicas de entrega</a></li>
                                <li><a href="#">Politicas de cambio</a></li>
                                <li><a href="#">Politicas de manejo de datos.</a></li>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <p class="left">Copyright © {% now "Y" %} Achieved with Padawan by <a href="http://apptitud.com.co/" target="_blank">Apptitud</a></p>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                {% for contact_item in page.get_site.root_page.specific.related_contact_config.all %}
                                    <p class="right">Tel: {{contact_item.tel_number}}, {{contact_item.city}}</p>
                                {% endfor %}
                            </div>  
                        </div>
                    </div>
                </div>
            </footer>  
        {% endblock %}
        <div id="messages-modal"></div>
        <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous">
        </script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.4.2/js/iziModal.min.js"></script>
        <script type="text/javascript" src="{% static 'js/padawan.js' %}"></script>
        <script>
            function get_user(){
                if ('{{request.user.pk}}' != 'None') {
                    return {{request.user.pk}}
                } else {
                    return null
                }
            }

            function get_cart_id(){
                user = get_user();
                $.ajax({
                    url: "{% url 'get_card_id' %}",
                    type: 'get',
                    async: false,
                    data: {
                        user_id: user
                    },
                    success: function(data) {
                        result = data;
                    } 
                });
                return result
            }

            $(document).ready(function(){
                {% if messages %}
                    title = 'Proceso completado'
                    timeout = 3000
                    overlay = false
                    {% for message in messages %}
                        {% if message.tags == "success" %}
                            color = '#8BC34A'
                        {% elif message.tags == "warning" %}
                            color = '#F44336'
                            title = 'Ups, algo anda mal'
                            timeout = 6000
                            overlay = true
                        {% else %}
                            color = '#607D8B'
                        {% endif %}
                        $("#messages-modal").iziModal({
                            title: title,
                            subtitle: '{{message}}',
                            headerColor: color,
                            attached: 'bottom',
                            zindex: 9999,
                            timeout: timeout,
                            overlay: overlay,
                            timeoutProgressbar: true
                        });
                        $('#messages-modal').iziModal('open');
                    {% endfor %}
                {% endif %}
            });
        </script>
        {% block extra_js %}
            
        {% endblock %}
    </body>
</html>
	
</head>