{% load humanize %}
{% load wagtailimages_tags %}
{% for product in product_list %}
    <div class="item-carousel">
        <div class="card">
            {% image product.main_image fill-400x400 as product_logo %}
            <div class="card-img-top" style="background-image: url({{product_logo.url}});"></div>
            <div class="card-block">
                <h4 class="card-title">{{product.title}}</h4>
                <div class="text-center">
                    <p class="card-text">${{product.get_price|intcomma}}</p>
                    <a href="{{product.url}}" class="btn-carShopping item_add">Agradir al carrito</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
