{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block content %}
    <div class="single contact">
		<div class="container">
			<div class="single-main">
				<div class="col-sm-12 single-main-left">
                    <div class="sngl-top">
                        <div class="col-md-5 single-top-left">	
                            <div class="flexslider">
                                <ul class="slides">
                                    {% for picture in page.pictures.all %}
                                        {% image picture.image width-800 as product_image %}
                                        {% image picture.image fill-80x80 as product_thumbnail %}
                                        <li data-thumb="{{product_thumbnail.url}}">
                                            <img src="{{product_image.url}}" />
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-7 single-top-right">
                            <div class="details-left-info simpleCart_shelfItem">
                                <h3>{{page.title}}</h3>
                                <p class="availability">Disponibilidad:
                                    <span class="color">
                                        {% if page.get_stock == 0  %}
                                            Agotado
                                        {% elif page.get_stock <= 3 %}
                                            Últimas 3 unidades
                                        {% elif page.get_stock > 3 %}
                                            En stock
                                        {% endif %}
                                    </span>
                                </p>
                                <div class="price_single">
                                    <!--
                                    <span class="reducedfrom">${{page.get_price|intcomma}}</span>-->
                                    <span class="actual item_price">$</span>
                                </div>
                                <h2 class="quick">Descripción:</h2>
                                {{ page.description|richtext }}
                                <div class="quantity_box">
                                    <ul class="product-qty">
                                        <span>{{page.get_variants.last.feature}}:</span>
                                        <select name="variant_options" id="variant_options">
                                            {% for reference in page.get_variants %}
                                                <option value="{{reference.pk}}">{{reference.value}}</option>
                                            {% endfor %}
                                        </select>
                                    </ul>
                                    <ul class="product-qty">
                                        <span>Cantidad:</span>
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                        </select>
                                    </ul>
                                </div>
                                <div class="clearfix"> </div>
                                <div class="single-but item_add">
                                    <input type="submit" value="Agregar al carrito"/>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
    </div>
    {% include 'products/product_list.html' %}
{% endblock %}
{% block extra_js %}
    <script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
    <script>
        $(window).load(function() {
            function get_product_variants(product_id) {
                $.get(
                    "{% url 'get_product_variants' %}",
                    {
                        product_id: product_id
                    }
                ).done(
                    function(data) {
                        console.log(data);
                    }
                );
            }

            function get_variant(variant_id) {
                $.ajax({
                    url: "{% url 'get_variant' %}",
                    type: 'get',
                    async: false,
                    data: {
                        variant_id: variant_id
                    },
                    success: function(data) {
                        result = data;
                    } 
                });
                return result
            }

            function add_to_cart(is_temp, cart_id, variant_id, quantity, user) {
                $.post(
                    "{% url 'add_to_cart' %}",
                    {
                        is_temp: is_temp,
                        cart_id: cart_id,
                        variant_id: variant_id,
                        quantity: quantity,
                        user: user
                    }
                ).done(
                    function(data) {
                        console.log( "response @add_to_cart: " + data );
                    }
                );
            }

            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });

            //At ready, load selected variant, get and set price on view
            initialSelectedVariant = $('#variant_options').val();

            if (initialSelectedVariant) {
                variant = get_variant(initialSelectedVariant);
                console.log(variant);
            }
            
        });
    </script>
</script>
{% endblock %}