{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/pgwslider.css' %}" />
{% endblock %}

{% block main_class %}class="main"{% endblock %}

{% block content %}
    <div class="container">
        <ul class="nav-category">
            <li><a href="{{page.get_parent.url}}">{{page.get_parent}}</a></li>
            <li>/</li>
            <li>{{page.title}}</li>
        </ul>
        <div class="row">
            <div class="col-xs-12 col-md-7">              
                <ul class="pgwSlider">
                    {% for picture in page.pictures.all %}
                        {% image picture.image width-800 as product_image %}
                        <li>
                            <img src="{{product_image.url}}" />
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-12 col-md-5 ">
                <h1 class="card-text">{{page.title}}</h1>
                <p><span>Ref. </span>{{page.get_cheapest_variant.get_reference}}</p><br/>                 
                <p class="card-text"><span>${{page.get_cheapest_variant.price|intcomma}}</span></p>
                <p>{{ page.description|richtext }}</p>
                <form action="{% url 'add_to_cart' %}" method="POST">
                    {% csrf_token %}
                    <div class="select-element">
                        <div class="row">
                            <div class="col-xs-12 col-md-10 col-lg-8">
                                <label>Cantidad</label>
                                <select class="form-control" id="quantity_options" name="quantity" required>
                                    <option disabled>Cantidad</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                </select> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-10 col-lg-8">
                                <label>{{page.get_variants.last.feature}}</label>
                                <select class="form-control" name="reference_id" id="variant_options"> 
                                    <option disabled>{{page.get_variants.last.feature}}</option>                    
                                    {% for reference in page.get_variants %}
                                        <option value="{{reference.pk}}">{{reference.value}}</option>
                                    {% endfor %}
                                </select> 
                            </div>
                        </div>
                    </div>
                    <button class="btn-carShopping" id="add-to-cart">Agradir al carrito</button>
                </form>
            </div>
        </div> 
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/pgwslider.js' %}"></script>
    <script>
        $(document).ready(function() {
            function get_product_variants(product_id) {
                $.get(
                    "{% url 'get_product_variants' %}",
                    {
                        product_id: product_id
                    }
                ).done(
                    function(data) {
                        console.log(data);
                    }
                );
            }

            function get_variant(variant_id) {
                $.ajax({
                    url: "{% url 'get_variant' %}",
                    type: 'get',
                    async: false,
                    data: {
                        variant_id: variant_id
                    },
                    success: function(data) {
                        result = data;
                    } 
                });
                return result
            }

            $('.pgwSlider').pgwSlider({listPosition:"left",autoSlide:false});
            
        });
    </script>
</script>
{% endblock %}