{% extends 'base.html' %}
{% load static %}
{% load wagtailimages_tags %}

{% block content %}
    <div class="bnr" id="home">
		<div  id="top" class="callbacks_container">
			<ul class="rslides" id="home_slider">
				{% for slide in page.pictures.all %}
					<li>
						{% image slide.image original as slide_image %}
						<div class="banner" style="background: url('{{slide_image.url}}') no-repeat center;"></div>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
   
    <!--start-banner-bottom--> 
	<div class="banner-bottom">
		<div class="container">
			<div class="banner-bottom-top">
				{% for category in random_categories %}
					<div class="col-md-6">
						<div class="bnr-one">
							<div class="bnr-left">
								<h1><a href="{{category.url}}">{{category.title}}</a></h1>
								<p>{{category.intro}}</p>
								<div class="b-btn"> 
									<a href="{{category.url}}">Compra ahora</a>
								</div>
							</div>
							<div class="bnr-right"> 
								 {% image category.main_image width-200 as category_logo %}
								<a href="single.html"><img src="{{category_logo.url}}" alt="Imagen {{category.title}}" /></a>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				{% endfor %}
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--end-banner-bottom--> 

    {% include 'products/product_list.html' %}
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
<script>
    $("#home_slider").responsiveSlides({
        auto: true,
        pager: true,
        nav: false,
        speed: 500,
        namespace: "callbacks"
    });
</script>
{% endblock %}